body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.max-width {
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
}
.max-width .title {
    font-size: 40px;
    text-align: center;
}
.max-width .bar {
    width: 100px;
    height: 2px;
    background-color: orange;
    margin-top: 30px;
}
.home-menu {
    background-image: url('https://lh3.googleusercontent.com/fife/AAWUweWt0X8rWIGlbxP96AswFwoztJfyv7P8OHS3CdjyxJOsnt_dX5GrrDmvFhycvxu2z3yK8u1tYerb-Sr_Lb6v__QQ-MzCV7RZVv8BR8OIOB6zQc8KvCvmWX6rTVdTYk8HmHfGdGOWU5MrGkyves25z5n64buWkOuh56HmYLY0Ab44D0O9uAlwkMsQMrmxFZa7yquooJgbg0EwK9oo96v7-rQskbA9bpFGY6VwaHBdyQSp3Uy6qXy1DmDnrvMEZnRpyWbRyYE1IWuS0F2oZJW9btVfiCZ8JfwMLF8Zop1qwm3M19jD6rlZkNjtw_pkBWoQl8ugzNsav8ZSLPgqoJm0N0ErExOjLLja3TpGl8916jHNvOTT3IN2DYOBGoTF7A5dp5qRn3f1g3t5WKamycGZZO1SS2E2VO8UFkPW3yZaqGUL92VOhzyeKK_TiXQY2XAzwwA2ZXFGEUSnMB5jbEnSdjfu2LJiUp2KZREkPuQ9L67bEZoBnppWXmVWNDmx3qDddb3OA4ocZcMDOK3i5qNuEnpP3EIjYGBUt7S3i3KCSeN1a_Y1K9KEVK32lKH1o9I39TmW_GdTxCCx0Kf2LCaCqTfJ3h5wsoTAeHriemXTP79TRt0K29EGyQhKZA8VW9gTU5E4w_2FeCrWrAJOvDwTqa7_fUp0gLMn6XMxpxv6BesXOZCdB5XRUIM9QHTbvj8S9zoWDQEHH4O0iQWhTbgQzP7lvBgB6adcRw=w3360-h1886-ft');
    height: 700px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.menu-img{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
}
nav {
    margin-left: 10%;
}
nav .max-width {
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    position: relative;
	display: inline-block;
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
	letter-spacing: -.5px;
	text-decoration: none;
}
nav .menu a:hover{
    color: orange;
}
nav .menu a:after{
    content: "";
    display: block;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 3px;
	background-color: orange;
}
nav .menu a:hover:after{
    width: 100%;
}
.max-width .logo {
    z-index: 9;
}
.max-width .logo img {
    height: 80px;
    width: 80px;
}
.max-width .menu {
    width: 800px;
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.max-width .menu a {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    z-index: 4;
}
.content-menu {
    width: 700px;
    height: 200px;
    margin-left: 10%;
    margin-top: 8%;
    color: white;
    position: relative;
    z-index: 999;
}
.content-menu .text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 150;
    line-height: 60px;
    z-index: 9;
}
.content-menu .multi-button {
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-menu .multi-button button {
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border: solid 2px orange;
    border-radius: 30px;
}
#button1 {
    background-color: orange;
    color: white;
}
#button2 {
    color: orange;
}
.home-content .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-content .max-width .about {
    margin-top: 30px;
}
.max-width .about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}
.home-content .max-width .content-boxes {
    margin: 0 auto;
    margin-top: 30px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-boxes .content-box {
    width: 250px;
    height: fit-content;
}
.content-boxes .content-box i {
    color: orange;
    font-size: 50px;
    line-height: 70px;
}
.content-boxes .content-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    text-align: justify;
}
.content-boxes .content-box .title {
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}
.home-banner {
    width: 100%;
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.home-banner .banner-image {
    width: 25%;
    height: 275x;
    z-index: 1;
}
.home-banner .banner-image img {
    width: 100%;
    height: 275px;
    border: none;
    display: block;
    z-index: 1;
}
.content-guidance {
    width: 100%;
    height: 700px;
    background-color: rgb(240, 240, 240);
}
.content-guidance .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-guidance .guidance {
    width: 800px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-guidance .guidance img {
    width: 200px;
    height: 410px;
}
.guidance .steps {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.steps .step {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.steps .step i {
    font-size: 50px;
    color: orange;
}
.steps .step p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
.steps .download img {
    width: 160px;
    height: 50px;
}
.feedback-form {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.feedback-form .max-width {
    width: 50%;
    margin: 0;
}
.feedback-form .max-width .title {
    font-size: 35px;
}
.feedback-form .max-width .bar {
    margin: 0 auto;
    margin-top: 30px;
}
form {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form .label-area {
    width: 100%;
}
form .label-area p {
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}
form .input-area {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.input-area input {
    height: 30px;
    margin-bottom: 10px;
}
.input-area select {
    height: 30px;
    margin-bottom: 10px;
}
.input-area .check-box {
    display: flex;
}
.input-area .check-box p {
    line-height: 30px;
    margin-left: 10px;
    display: block;
    text-align: start
}
.input-area button {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
}
.footer {
    background-color: black;
    width: 100%;
}
.footer .max-width {
    display: flex;
    flex-direction: column;
}
.footer .max-width .info-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-top .menu {
    width: 40%;
}
.info-top .menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(179, 177, 177);
    font-weight: 400;
}
.footer .max-width .icon-contact {
    color: rgb(179, 177, 177);
    width: 15%;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}